<h1><%= title %></h1>
<p>
	Poll question will go here...
</p>
  
    <!-- this should go in the head of the page... -->
    <script type="text/javascript">
      function addOpt(e) {
        var o=document.createElement("option");
        //o.value= -e.options.length;
        o.text = "Test " + e.options.length;
        o.selected=true;
        e.add(o,null);
      }
    </script>

<form action="/createPoll" method="post" accept-charset="utf-8"> <!-- consider changing url to /poll/create -->
  <input type="text" name="content" />
  <br/>
  <select id="categorySelect" name="category" size="1"> <!-- enforce selecting one category -->
    <option value="0">General</option>
    <option value="1">Technology</option>
    <option value="2">Politics</option>
  </select>
  <br/>
  <input type="text" name="answer[]" value="1"/>
  <br/>
  <input type="text" name="answer[]" value="2"/>
  <br/>
  <input type="text" name="answer[]" value="3"/>
  <br/>
  <input type="text" name="answer[]" value="4"/>
  <br/>
  <input type="submit" value="Create Poll" onclick="addOpt(this.form.myselect)" />
</form>

<% if (poll != null) { %>
  <p>
  	Question: 
    <span>
      <%= poll.body %>
    </span>
  </p>

    Answers:
    <% if (answers != null) { %>
      <% for (var i = 0; i < answers.length; i++) { %>
      	<p>
      		Answer <%= i %>: 
      		<span>
            <!-- vote button for each answer -->
            <form name="input" action="/submitVote" method="post">
              <%= answers[i] %>
              <input type="hidden" name="vote" value="<%= i %>"/> <!-- pass the vote index back to the user -->
              <input type="submit" name="button" value="Vote"> <!-- tag the submit with the index of the answer -->
            </form>
      		</span>
      	</p>
      <% } %>
    <% } %>
<% } %>
