<h1>Listing poll_answers</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Votes</th>
      <th>Poll question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poll_answers.each do |poll_answer| %>
      <tr>
        <td><%= poll_answer.body %></td>
        <td><%= poll_answer.votes %></td>
        <td><%= poll_answer.poll_question_id %></td>
        <td><%= link_to 'Show', poll_answer %></td>
        <td><%= link_to 'Edit', edit_poll_answer_path(poll_answer) %></td>
        <td><%= link_to 'Destroy', poll_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll answer', new_poll_answer_path %>
