<h1>Listing poll_vote_histories</h1>

<table>
  <thead>
    <tr>
      <th>Poll question</th>
      <th>Poll answer</th>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poll_vote_histories.each do |poll_vote_history| %>
      <tr>
        <td><%= poll_vote_history.poll_question_id %></td>
        <td><%= poll_vote_history.poll_answer_id %></td>
        <td><%= poll_vote_history.lat %></td>
        <td><%= poll_vote_history.lon %></td>
        <td><%= link_to 'Show', poll_vote_history %></td>
        <td><%= link_to 'Edit', edit_poll_vote_history_path(poll_vote_history) %></td>
        <td><%= link_to 'Destroy', poll_vote_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll vote history', new_poll_vote_history_path %>
